
Author: Stanley Chisango (Scooter Lacroix)
Email: scooterlacroix@gmail.com
GitHub: https://github.com/scooter-lacroix
X: https://x.com/scooter_lacroix
Patreon: https://patreon.com/ScooterLacroix

If this code saved you time, consider buying me a coffee! ☕
"Code is like humor. When you have to explain it, it's bad!" - Cory House

einops
flask-restful
nltk
pytest
pytest-cov
pytest_mock
pytest-random-order
sentencepiece
tiktoken
wrapt
zarr
wandb
tensorstore!=0.1.46,!=0.1.72
torch
# Removed nvidia-modelopt as it's not compatible with AMD GPUs
